<!DOCTYPE html>
<head>

    <%-include("../fragmente/head.ejs")%>
</head>

<body>

    <header>

        <%-include("../fragmente/header.ejs")%>
    </header>

    <main>
        <section>
            <h2>Pagină Angajati</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.firstname %></span></h3>
               
                </article>
            
        </section>
    </main>
</body>

<footer>

    <%-include("../fragmente/footer.ejs")%>
</footer>