body {
    background-image: url('/imagini/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;


}

a{
    text-decoration: none !important;
  
}

