<head>

    <meta charset="utf-8">
    <title>MDS Project</title>
    <meta name="author" content="Iancu Mihaela-Florentina & Bora Dragos-Ionut">
    <link rel="stylesheet" href="/resurse/css/nav-bar.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/layout-principal.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/employees.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/products.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/reports.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <scipt src="/js/acoridon.js"></scipt>
</head>