<head>

    <meta charset="utf-8">
    <title>MDS Project</title>
    <meta name="author" content="Iancu Mihaela-Florentina & Bora Dragos-Ionut">
    <link rel="stylesheet" href="/css/nav-bar.css" type="text/css">
    <link rel="stylesheet" href="/css/layout-principal.css" type="text/css">
    <script src="/js/index.js"></script>
    
</head>